body {
  background-color: rgb(255, 187, 34);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
#header {
  text-align: center;
  text-shadow: 4px 4px rgb(18, 23, 63);
  color: rgb(255, 187, 34);
  border: 8px solid rgb(255, 187, 34);
  padding: 0px;
  margin: 0px;
  background-color: rgb(93, 118, 169);
  width: 400px;
  position: relative;
  left: 430px;
  top: 10px;
}
#aboutMeContent {
  text-align: center;
  border: 8px solid white;
  padding: 0px;
  margin: 20px;
  position: relative;
  background-color: rgb(93, 118, 169);
}

#experiences {
  border: 8px solid white;
  padding: 0px;
  margin: 20px;
  width: 550px;
  position: relative;
  left: 10px;
  background-color: rgb(93, 118, 169);
}
#grizzlies {
  border: 8px solid white;
  background-color: rgb(93, 118, 169);
  padding: 0px;
  margin: 20px;
  width: 550px;
  position: relative;
  left: 650px;
  bottom: 243px;
}
h2 {
  text-align: center;
  border: 8px solid rgb(255, 187, 34);
  padding: 0px;
  margin: 20px;
  color: rgb(255, 187, 34);
  background-color: rgb(18, 23, 63);
}
#quiz-button {
  color: rgb(255, 187, 34);
  border: 8px solid white;
  padding: 0px;
  margin: 20px;
  width: 400px;
  position: relative;
  bottom: 320px;
  left: 60px;
  font-size: 30px;
  background-color: rgb(93, 118, 169);
}
#quiz-button:hover {
  background-color: white;
}
#container {
  background-color: rgb(18, 23, 63);
  position: absolute;
  top: 20px;
  left: 300px;
}

img {
  width: 200px;
  margin-top: 60px;
}

#logos {
  list-style-type: none;
}
